@charset "UTF-8";

/*Alterando tudo: */
*{
	font-family:verdana,arial;
}

body{
    background-color:#A9A9A9;
}

h1,h2{
	text-shadow:2px 2px 2px white;
	            -2px -2px 2px black;
}
.logo{
   width:200px;
   float:right;
   padding:10px;
   
}
p{
	text-align:justify;
	line-height:2;
	text-indent:25px;
}





	